body {
    background: #f0f2f5;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 100px;
}

.logo {
    color: #1877f2;
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: bold;
}

.tagline {
    font-size: 18px;
    color: #1c1e21;
    margin-bottom: 30px;
}

.login-box {
    background: white;
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

input {
    width: 90%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.login-btn {
    width: 95%;
    background-color: #1877f2;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #166fe5;
}

.forgot {
    display: block;
    margin-top: 12px;
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ddd;
}

.create-btn {
    background-color: #42b72a;
    color: white;
    border: none;
    padding: 12px;
    width: 70%;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.create-btn:hover {
    background-color: #36a420;
}

.bottom-text {
    font-size: 14px;
    color: #1c1e21;
    margin-top: 20px;
}

.bottom-text a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}
